:root {
    background-color: grey;
}

h1 {
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    color: yellow;
}

.subtitle {
    text-align: center;
    font-size: 15px;
    color: yellow;
}

#LastFM {
    justify-content: space-around;
}

#Napster {
    justify-content: space-around;
}

