:root {
    background-color: grey;
}

h1 {
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
    color: yellow;
}

.subtitle {
    text-align: center;
    font-size: 15px;
    color: yellow;
}

#drop-down {
    margin-left: 30px;
    border: black;
    border-width: 20px;
}

#genre {
    margin-left: 30px;
    font-size: 30px;
    color: yellow;
    padding-bottom: .5%;
}

h2 {
    text-align: center;
    justify-content: space-around;
    color: yellow;
    font-size: 20px;
}

#itunes {
    margin-top: 175px;
    justify-content: space-around;

}
